<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>

    <link rel="stylesheet" href="libs/salesforce-lightning-design-system-2.25.1/assets/styles/salesforce-lightning-design-system.min.css">
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="container">
        <!-- Content -->
        <div class="container-content">
            <div class="slds-var-p-vertical_large" style="overflow-x:auto;">
                <table class="slds-table slds-table_cell-buffer slds-no-row-hover slds-table_bordered slds-table_col-bordered">
                    <!-- Columns -->
                    <thead><tr class="slds-line-height_reset" id="columns-container-1"></tr></thead>
                    <!-- Rows -->
                    <tbody id="rows-container-1"></tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>