<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>

    <link rel="stylesheet" href="libs/salesforce-lightning-design-system-2.25.1/assets/styles/salesforce-lightning-design-system.min.css">
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div id="clientAccountsReportContainer" class="container">
        <!-- Header -->
        <div class="multiple-header-container">
            <h1 class="container-header"></h1>
            <h1 class="container-header">Relatório de clientes</h1>
            <h1 class="container-header"><button style="border: none;" id="refresh-button"><svg xmlns="http://www.w3.org/2000/svg" height="28" width="28" viewBox="0 0 520 520" fill="rgb(185, 185, 185)"><path d="M465 40h-30c-8 0-15 7-15 15v70c0 9-5 13-12 7l-10-10a210 210 0 1 0-12 309c7-6 7-16 1-22l-21-21c-5-5-14-6-20-1a152 152 0 0 1-172 14 152 152 0 0 1 77-281 150 150 0 0 1 118 58c3 8-4 12-13 12h-70c-8 0-15 7-15 15v31c0 8 6 14 14 14h183c7 0 13-6 13-13V55c-1-8-8-15-16-15z"/></svg></button>
            </h1>
        </div>

        <!-- Content -->
        <div id="clientAccountsReportContent" class="container-content">
            <div class="slds-var-p-vertical_large" style="overflow-x:auto;">
                <table class="slds-table slds-table_cell-buffer slds-no-row-hover slds-table_bordered slds-table_col-bordered">
                    <!-- Columns -->
                    <thead><tr class="slds-line-height_reset" id="columns-container-1"></tr></thead>
                    <!-- Rows -->
                    <tbody id="rows-container-1"></tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>